<h2><span class="label">project</span> <span id="project-name">{{project.id}}</span></h2>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Commit</th>
            <th>Started</th>
            <th>Success</th>
            <th>Time delta</th>
            <th>Time</th>
            <th>Modules</th>
            <th>Tests</th>
        </tr>
    </thead>
    <tbody id="builds">
        {{#builds}}
        {{> logBuild}}
        {{/builds}}
    </tbody>
</table>
