<tr id="build-{{id}}" data-id="{{id}}" class="app-clickablerow">
    <td>{{id}}</td>
    <td>{{commit_id}}</td>
    <td>{{started}}</td>
    {{#finished}}
    <td>
        {{#succeeded}}
        <i class="icon-ok"></i>
        {{/succeeded}}
        {{^succeeded}}
        <i class="icon-remove"></i>
        {{/succeeded}}
        <a class="rebuild" href="#" data-commit="{{commit_id}}" data-project="{{id}}"><i class="icon-repeat"></i></a>
    </td>
    <td>{{timeDelta}}</td>
    <td>{{time}}</td>
    {{/finished}}
    {{^finished}}
    <td colspan="3"><i class="icon-time"></i></td>
    {{/finished}}
    <td>{{modules}}</td>
    <td>{{tests}}</td>
</tr>
